HTML CSS JS Result Skip Results Iframe body {
    background-color: #f1f6ff;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 1000vh;
}

.cdns-adsProductList {
    float: left;
    position: relative;
    width: 100%;
    background-color: red;
}

.cdns-adsImgLeft {
    float: left;
    position: relative;
    width: 24%;
    height: 150px;
    border: 1px solid black;
}

.rightcrs {
    float: left;
    position: relative;
    width: 75%;
}

.product-item {
    background: #fff;
    margin: 0px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
    max-width: 250px;
}

.product-item .product-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* margin: 0px 15px 8px 15px;
    margin-left: 0px; */
}

.product-item .product-img img {
    max-width: 250px;
    max-height: 450px;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}

.product-item:hover .product-img img {
    transform: scale(1.1, 1.1);
}

.product-item .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
    transition: all 0.50s linear;
}

.product-item:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}

.product-item .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}

.product-item .product-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}

.product-item .product-title a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.product-item .product-title a:hover {
    text-decoration: none;
    color: #3498db;
}

.product-item .product-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
}

.product-item .product-date {
    color: #a9a9a9;
    font-size: 14px;
}

.product-item .product-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}

.product-item .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}

.product-item .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width:1280px) {
    .product-item .product-content {
        padding: 0px 15px 25px 15px;
    }
}

.cdnsCategory-xl {
    position: relative;
    float: left;
    width: 30%;
    margin: 1%;
    align-items: center;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
}

.cdnsCategory-xlImg {
    position: relative;
    float: left;
    width: 100%;
}

.cdnsCategory-xl p {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
}


/* ShopNowBtn Default */

.shopNowBtn {
    padding: 7px 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    font-size: 16px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.shopNowBtn:hover {
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.cdnsOneParallax {
    position: absolute;
    width: 100%;
    /* The image used */
    background-image: url("https://via.placeholder.com/1920x600.png");
    /* margin-top: 5%; */
    /* Set a specific height */
    margin-top: 50%;
    height: 30%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
}


/* Product List Block */

.ProductListBlock {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #a8c8e2;
}

.ProductListBlock .ProductCard {
    position: relative;
    float: left;
    /* text-align: center; */
    /* min-height: 500px; */
    /* border: 1px solid black; */
    border-radius: 25px;
    border: 5px solid transparent;
    padding: 30px;
    box-shadow: 1px 1px 25px #d6afaf44;
}

.ProductListBlock .ProductCard img {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
    transition: transform 1s;
    /* overflow: hidden; */
}

.ProductListBlock .ProductCard img:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.06);
    border-radius: 25px;
}

.ProductListBlock .ProductCard .ProductData {
    float: left;
    margin: 15px;
}

.ProductListBlock .ProductCard .ProductData .ProductCardHL {
    font-size: 18px;
    color: red;
}

.ProductListBlock .ProductCardPrice {
    padding-top: 10px;
}

.ProductCardPrice span {
    color: green;
    font-size: 20px;
}

.ProductData hr {
    margin-top: 25px;
}

.ProductData .shopNowBtn {
    margin-top: 15px;
    box-shadow: 1px 1px 40px rgba(0, 255, 242, 0.39);
}


/*Firt Featured Ads Block*/

.cdnsExFtr {
    float: left;
    margin-left: 3%;
    border-radius: 3px;
}

.FeaturedAds {
    position: relative;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
    margin-top: 5%;
}

.FeaturedAds img {
    float: left;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.FeaturedAds .FeaturedAdsText {
    float: left;
    margin-top: 25px;
    margin-left: 12px;
    width: 40%;
    background-color: #73baf583;
    border-radius: 5px 25px 5px 25px;
}

.FeaturedAds .FeatuerdAdsHL {
    float: left;
    padding-top: 25px;
    width: 100%;
    padding-left: 30px;
    font-size: 25px;
    color: red;
}

.FeaturedAds .FeaturedAdsDesc {
    float: left;
    padding-left: 30px;
}


/* Two Column Ads */

.TwoAdsBlock {
    float: left;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    max-height: 550px;
}

.TwoAdsBlock .AdsLeftBlcok {
    float: left;
    position: relative;
    width: 45%;
}

.TwoAdsBlock .AdsRightBlock {
    float: left;
    position: relative;
    margin-left: 10%;
    width: 45%;
}

.TwoAdsBlock .AdsRightBlock img,
.TwoAdsBlock .AdsLeftBlcok img {
    float: left;
    width: 100%;
    max-height: 550px;
    position: absolute;
    opacity: 1;
    z-index: -1;
    border-radius: 25px;
    /* transition: transform 1s; opacity: 0; */
}

.AdsOver-layer {
    width: 100%;
    min-height: 550px;
    opacity: 0.5;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 25%);
    transition: all 0.1s linear;
    border-radius: 25px;
}

.AdsOver-layer:hover {
    opacity: 1.5;
    border-radius: 25px;
}

.FooterSection {
    float: left;
    position: relative;
    width: 100%;
    background-color: black;
}

.FooterLogo {
    float: left;
    position: relative;
    width: 30%;
}

.FooterLogo img {
    float: left;
    position: relative;
    margin: 25px;
    width: 300px;
    max-height: 150px;
}

.FooterNavbar {
    float: left;
    position: relative;
    width: 60%;
    margin: 25px;
    /* background-color: rebeccapurple; */
    margin-top: 5%;
}

.FooterNavbar ul {
    float: left;
    width: 100%;
    position: relative;
    align-items: center;
    left: 10%;
    right: inherit;
}

.FooterNavbar ul li {
    float: left;
    width: 10%;
    align-items: center;
    color: white;
    font-weight: bold;
    list-style-type: none;
}

.FooterNavbar ul li a {
    float: left;
    width: 10%;
    align-items: center;
    color: white;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
}

.FooterNavbar ul li a:hover {
    font-size: 20px;
}

.CodensanCopyRight {
    float: left;
    width: 100%;
    background-color: gray;
    text-align: center;
    font-weight: 200;
    color: white;
    padding: 15px 15px;
    font-weight: bold;
}

.CodensanCopyRight span {
    color: rgba(48, 48, 214, 0.712);
    font-size: 20px;
}


/* Bran Story Telling */

.BrandStoryTelling {
    float: left;
    position: relative;
    width: 100%;
}

.BrandStoryTelling .Content {
    float: left;
    margin-left: 5%;
    width: 60%;
    background-color: #2196F3;
    margin-top: 5%;
    margin-bottom: 5%;
}

.BrandStoryTelling .CodensanCopyRight .BstHl {
    width: 100%;
    color: white;
    font-weight: bold;
}


/*Button Two*/

.BtnType1 {
    float: left;
    border-radius: 4px;
    background-color: #d35400;
    border: none;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    border-radius: 25px;
    margin: 1%;
}

.BtnType1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.BtnType1 span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.BtnType1:hover span {
    padding-right: 25px;
}

.BtnType1:hover span:after {
    opacity: 1;
    right: 0;
}

.BrandStoryTelling .Image {
    float: left;
    width: 20%;
    margin-right: 5%;
}

.BrandStoryTelling .Image img {
    width: 100%;
    height: auto;
}


/* Info Iconic Bars */

.InfoIconBar {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
}

.InfoIconBar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.InfoIconBar ul li {
    float: left;
    width: 16.6666667%;
    text-align: center;
    position: relative;
}

.Inf-Icon {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

.Inf-Icon img {
    display: block;
    border: none;
    max-width: 100%;
}

.Inf-Text {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0;
    color: #999;
    opacity: 1;
}

.InfoIconBar ul li:not(:last-child):after {
    content: '';
    width: 1px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    background: #ccc;
}


/* BtnType2 */

.BtnType2 {
    /* display: flex; */
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.BtnType2:focus {
    outline: none;
}

.BtnType2:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.BtnType2 span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.BtnType2:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

span {
    transform: skewX(15deg)
}

span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}


/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.BtnType2:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.BtnType2:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.BtnType2:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}


/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}


/* .owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
} */


/* About Us */


/* Box Services */

.fa-shopping-basket:before {
    content: "\f291";
}

.services-items {
    float: left;
    position: relative;
    /* background-color: red; */
}

.icon-services {
    float: left;
    padding: 20px;
}

.icon-services a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f4f4f4;
    margin: 0 7px 0 0;
    display: inline-block;
    position: relative;
}

.icon-services i {
    color: #43833e;
    position: absolute;
    padding: 17px;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}

.info-services {
    float: left;
    position: relative;
    /* background-color: #1376c5; */
    padding: 20px;
}

.info-services h3 {
    font-weight: 700;
    font-family: Raleway, sans-serif;
    font-size: 24px;
}


/* Steps */

.cdns-steps-list {
    background-image: url(https://cdn.shopify.com/s/files/1/0108/3408/3902/files/Parallac.jpg?v=1585651841);
    background-attachment: fixed;
    /* background-position: center; */
    /* border: 10px solid black; */
    /* background-color: red; */
    position: relative;
    height: 550px;
    background-repeat: no-repeat;
}

.cdns-steps-list::after {
    background: #000000;
}

.cdns-steps-list::after {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.steps-desc,
.steps-item-list {
    float: left;
    position: relative;
    color: white;
    z-index: 2;
    /* background-color: red; */
}

.steps-desc .cdns-read-more {
    color: #ffffff;
    background: #2963ff;
    font-weight: bold;
    border-radius: 30px;
    line-height: normal;
    text-align: center;
    padding: 13px 35px 13px 30px;
}

.cdns-read-more::after {
    content: '\f101';
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
    margin-left: 10px;
}

.steps-desc .cdns-read-more:hover {
    color: white;
    background: white;
    color: #2963ff;
}

.steps-item-list {
    padding-top: 12px;
}

.steps-desc-inf {
    padding: 80px;
    padding-top: 120px;
    padding-left: 50px;
}

.steps-desc-inf h3,
.steps-item h3 {
    font-weight: bold;
    font-size: 30px;
}

.steps-item {
    float: left;
    width: 100%;
    padding: 20px;
}

.steps-item h3 i {
    padding-right: 10px;
}


/* Contact Block */

.contact-head,
.contact-icon {
    float: left;
    position: relative;
    width: 100%;
    /* background-color: red; */
}

.contact-icon img {
    align-items: center;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
}

.contact-txt {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
}

.contact-txt h2 {
    font-weight: bold;
    font-size: 45px;
    font-family: open sans;
}

.contact-txt p {
    font-size: 15px;
    padding: 20px;
}

.contact-map {
    float: left;
    width: 100%;
    text-align: center;
}

.contact-form-blck {
    float: left;
    margin-top: 25px;
    position: relative;
    /* background-color: red; */
}

.contact-icon-items {
    position: relative;
    width: 100%;
    float: left;
    height: 34%;
    text-align: center;
    /* background-color: red; */
}

.contact-icon-items img {
    float: left;
    position: relative;
    background-color: white;
    margin-left: 12%;
    margin-top: 18px;
}

.contact-desc {
    /* float: left; */
    /* background-color: gray; */
    margin-top: 18px;
    position: relative;
    margin: auto;
}

.contact-form {
    float: left;
    position: relative;
    /* background-color: gray; */
    width: 100%;
}

.contact-form input {
    float: left;
    width: 100%;
    margin-top: 3%;
    height: 48px;
    /* width: 426px; */
    font-size: 15px;
    line-height: 15px;
    background-color: #eee;
    border: 0px;
    /* font-weight: bold; */
    padding-left: 15px;
}

.contact-form-desc {
    height: 120px !important;
}


/* Footer Block */

.FooterBlock {
    background-color: #121921;
    color: rgba(255, 255, 255, 0.7);
}

.BrandColumn,
.FooterMenu,
.FooterContact {
    float: left;
    position: relative;
    /* padding: 5%; */
}

.BrandColumn .footerbrandDesc {
    padding-top: 15px;
}

.BrandColumn .footerbrandDesc .socialIcons {
    float: left;
    /* background-color: red; */
}

.socialIcons ul {
    float: left;
    width: 75%;
    /* background-color: red; */
    padding-top: 25px;
}

.socialIcons ul li {
    float: left;
    padding-left: 5px;
    list-style-type: none;
}

.FooterMenu p,
.FooterContact p {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.FooterMenu ul {
    float: left;
}

.FooterMenu ul li {
    float: left;
    width: 100%;
    list-style-type: none;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
}

.FooterMenu ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.FooterContact ul li {
    float: left;
    width: 100%;
    position: relative;
    text-align: left;
    list-style-type: none;
}

.FooterContact ul li i {
    float: left;
    position: relative;
    text-align: center;
    padding-top: 5px;
}

.FooterContact li span {
    float: left;
    padding-top: -5px;
}

.FooterContact .newsletter {
    position: relative;
    float: left;
    margin-top: 15px;
}

.FooterContact .newsletter p {
    float: left;
    position: relative;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    width: 38%;
    /* background-color: red; */
    padding-right: 15px;
}

.FooterContact .newsletter .nw-email {
    float: left;
    width: 60%;
    background-color: rgba(202, 193, 193, 0.952);
}

.FooterContact .newsletter .nw-send {
    float: left;
    margin-left: 38%;
    width: 60%;
    font-size: 18px;
    text-align: center;
}

.footerTerms {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}

.footerTerms ul {
    float: left;
    list-style-type: none;
    width: 100%;
}

.footerTerms ul li {
    margin-left: 25%;
    position: relative;
    float: left;
}

.footerTerms ul li a {
    float: left;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
}