HTML CSS JS Result Skip Results Iframe body {
    background-color: #f1f6ff;
}

.cdns-adsProductList {
    float: left;
    position: relative;
    width: 100%;
    background-color: red;
}

.cdns-adsImgLeft {
    float: left;
    position: relative;
    width: 24%;
    height: 150px;
    border: 1px solid black;
}

.rightcrs {
    float: left;
    position: relative;
    width: 75%;
}

.product-item {
    background: #fff;
    margin: 0px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
    max-width: 250px;
}

.product-item .product-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* margin: 0px 15px 8px 15px;
    margin-left: 0px; */
}

.product-item .product-img img {
    max-width: 250px;
    max-height: 450px;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}

.product-item:hover .product-img img {
    transform: scale(1.1, 1.1);
}

.product-item .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
    transition: all 0.50s linear;
}

.product-item:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}

.product-item .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}

.product-item .product-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}

.product-item .product-title a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.product-item .product-title a:hover {
    text-decoration: none;
    color: #3498db;
}

.product-item .product-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
}

.product-item .product-date {
    color: #a9a9a9;
    font-size: 14px;
}

.product-item .product-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}

.product-item .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}

.product-item .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width:1280px) {
    .product-item .product-content {
        padding: 0px 15px 25px 15px;
    }
}


.cdnsCategory-xl {

    position: relative;
    float: left;
    width: 30%;
    margin: 1%;
    align-items: center;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
}

.cdnsCategory-xlImg {
    position: relative;
    float: left;
    width: 100%;
}

.cdnsCategory-xl p {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
}


/* ShopNowBtn Default */

.shopNowBtn {
    padding: 7px 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    font-size: 16px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.shopNowBtn:hover {
    font-size: 17px;
    font-weight: bold;
    color: white;
}


.cdnsOneParallax {
    position: absolute;
    width: 100%;
    /* The image used */
    background-image: url("https://via.placeholder.com/1920x600.png");
    /* margin-top: 5%; */
    /* Set a specific height */
    margin-top: 50%;
    height: 30%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
}


/* Product List Block */
.ProductListBlock {
    position: relative;
    float: left;
    width: 100%;
    height: auto;

}

.ProductListBlock .ProductCard {
    position: relative;
    float: left;
    width: 25%;
    /* text-align: center; */
    /* min-height: 500px; */
    /* border: 1px solid black; */
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 10px;
    box-shadow: 1px 1px 25px #d6afaf44;
}

.ProductListBlock .ProductCard img {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
    transition: transform 1s;
}

.ProductListBlock .ProductCard img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.06);
  border-radius: 25px; 
}

.ProductListBlock .ProductCard .ProductData{
    float: left;
    margin: 15px;
}

.ProductListBlock .ProductCard .ProductData .ProductCardHL{
    font-size: 18px;
    color: red;
}

.ProductListBlock .ProductCardPrice {
    padding-top: 10px;
}

.ProductCardPrice span{
    color:  green;
    font-size: 20px;
}

.ProductData hr{
    margin-top: 25px;
}

.ProductData .shopNowBtn {
    margin-top: 15px;
    box-shadow: 1px 1px 40px rgba(0, 255, 242, 0.39);
}


/*Firt Featured Ads Block*/
.cdnsExFtr{
    float: left;
    margin-left: 3%;
    border-radius: 3px;
}
.FeaturedAds{
    position: relative;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
    margin-top: 5%;
    
}

.FeaturedAds img{
    float: left;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.FeaturedAds .FeaturedAdsText{
    float: left;    
    margin-top: 25px;
    margin-left: 12px;
    width: 40%;
    background-color: #73baf583;
    border-radius: 5px 25px 5px 25px;
}

.FeaturedAds .FeatuerdAdsHL {
    float: left;
    padding-top: 25px;
    width: 100%;
    padding-left: 30px;
    font-size: 25px;
    color: red;
}

.FeaturedAds .FeaturedAdsDesc {
    float: left;
    padding-left: 30px;

}

/* Two Column Ads */
.TwoAdsBlock {
    float: left;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    max-height: 550px;
    
}

.TwoAdsBlock .AdsLeftBlcok{
    float: left;
    position: relative;
    width: 45%;
}


.TwoAdsBlock .AdsRightBlock{
    float: left;
    position: relative;
    margin-left: 10%;
    width: 45%;
}

.TwoAdsBlock .AdsRightBlock img, .TwoAdsBlock .AdsLeftBlcok img {
    float: left;
    width: 100%;
    max-height: 550px;
    position: absolute;
 opacity: 1;
    z-index: -1;
    border-radius: 25px; 
    /* transition: transform 1s; opacity: 0; */  
}

.AdsOver-layer{
    width: 100%;
    min-height: 550px;
    opacity: 0.5;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 25%);
    transition: all 0.1s linear;
    border-radius: 25px; 
}

.AdsOver-layer:hover{
    opacity: 1.5;
    border-radius: 25px; 
}


/* .owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
} */