body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 1000vh;
}


/* Desktop */

.cdns-fixed {
    position: fixed;
    z-index: 5;
    margin-top: -1.3%;
}

.cdns-rltv {
    position: relative;
    margin-top: 4%;
}


/* Menu */

.cdns-main-menu {
    float: left;
    width: 100%;
    background-color: rgba(121, 144, 214, 0.897);
}

.cdns-lft {
    float: left;
    width: 100%;
    /* background-color: rgba(121, 144, 214, 0.897); */
}

.cdns-img-logo {
    float: left;
    margin-right: 5px;
}

.cdns-img-logo img {
    max-height: 100px;
    min-width: 130px;
    border-radius: 18px;
}

.cdns-top-mn {
    float: left;
    width: 100%;
}

.cdns-top-mn nav {
    margin: 2% auto 0;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #34495e;
    border-radius: 16px;
    font-size: 0;
}

.cdns-top-mn nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

.cdns-top-mn nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

.cdns-top-mn nav a {
    width: 20%;
}

.cdns-top-mn nav a:hover {
    width: 20%;
    background-color: #1abc9c;
}


/* Main Slider */

.cdns-main-inc {
    width: 100%;
    float: left;
    position: relative;
    min-height: auto;
}

.cdns-slider img {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
}


/* First Product Component */

.cdns-adsProductList {
    float: left;
    position: relative;
    width: 100%;
}

.cdns-adsImgLeft {
    float: left;
    position: relative;
    width: 24%;
    height: 150px;
}

.cdns-adsImgLeft img {
    border-radius: 18px;
}

.rightcrs {
    float: left;
    position: relative;
    width: 75%;
}

.product-item {
    background: #fff;
    margin: 0px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
    max-width: 250px;
}

.product-item .product-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* margin: 0px 15px 8px 15px;
    margin-left: 0px; */
}

.product-item .product-img img {
    max-width: 250px;
    max-height: 450px;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}

.product-item:hover .product-img img {
    transform: scale(1.1, 1.1);
}

.product-item .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
    transition: all 0.50s linear;
}

.product-item:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}

.product-item .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}

.product-item .product-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}

.product-item .product-title a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.product-item .product-title a:hover {
    text-decoration: none;
    color: #3498db;
}

.product-item .product-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
}

.product-item .product-date {
    color: #a9a9a9;
    font-size: 14px;
}

.product-item .product-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}

.product-item .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}

.product-item .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
}


/* First -3- Category Section */

.cdnsTp20{
    position: relative;
    top: 25%;
}

.cdnsCategory-xl {
    
    position: relative;
    float: left;
    width: 30%;
    margin: 1%;
    align-items: center;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
  }

.cdnsCategory-xlImg{
    position: relative;
    float: left;
    width: 100%;
}

.cdnsCategory-xl p {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    word-wrap:break-word;
}


/* ShopNowBtn Default */

.shopNowBtn {
padding: 7px 20px;
width: 50%;
margin-left: 25%;
margin-right: 25%;
margin-bottom: 5%;
font-size: 16px;
background: #2196F3;
color: #ffffff;
box-shadow: 0px 10px 20px -10px #1376c5;
border-radius: 25px;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
text-align: center;
}

.shopNowBtn:hover{
    font-size: 17px;
    font-weight: bold;
    color: white;
}



/* First - 1 - parallax img ads  */
.cdnsOneParallax {
    position: absolute;
    width: 100%;
    /* The image used */
    background-image: url("https://www.dunyaatlasi.com/wp-content/uploads/2018/09/resim-tablo-nasil-okunur.jpg");
  /* margin-top: 5%; */
    /* Set a specific height */
    margin-top: 65%;
    height: 20%; 
  
    /* Create the parallax scrolling effect */
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
  }
  

  /* Product List Block */
.ProductListBlock {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
margin-top: 3%;
}

.ProductListBlock .ProductCard {
    position: relative;
    float: left;
    width: 25%;
    /* text-align: center; */
    /* min-height: 500px; */
    /* border: 1px solid black; */
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 10px;
    box-shadow: 1px 1px 25px #d6afaf44;
}

.ProductListBlock .ProductCard img {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
    transition: transform 1s;
}

.ProductListBlock .ProductCard img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.06);
  border-radius: 25px; 
}

.ProductListBlock .ProductCard .ProductData{
    float: left;
    margin: 15px;
}

.ProductListBlock .ProductCard .ProductData .ProductCardHL{
    font-size: 18px;
    color: red;
}

.ProductListBlock .ProductCardPrice {
    padding-top: 10px;
}

.ProductCardPrice span{
    color:  green;
    font-size: 20px;
}

.ProductData hr{
    margin-top: 25px;
}

.ProductData .shopNowBtn {
    margin-top: 15px;
    box-shadow: 1px 1px 40px rgba(0, 255, 242, 0.39);
}


/* Desktop  */


/* 

.cdns-md-product {
    width: 100%;
    position: relative;
    height: auto;
    background-color: yellow;
}

.cdns-md-product-lft {
    position: relative;
    float: left;
    width: 25%;
    min-height: 678px;
    background-color: red;
}

.cdns-md-product-lft img {
    width: 100%;
    max-height: 1200px;
}

.cdns-md-product-carousel {
    float: left;
    margin-left: 1.2%;
     background-color: gray;

width: 73%;
display: flex;

}
.cdns-md-product-item {
    width: 250px;
    float: left;
    justify-content: center;
    text-align: center;
    margin: 3%;
}
.cdns-md-product-item-img {
    max-height: 450px;
    max-width: 250px;
}
.cdns-md-product-item-decs {
    font-size: 16px;
}
*/